/symfony-grpc/.env.local
/symfony-grpc/.env.local.php
/symfony-grpc/.env.*.local
/symfony-grpc/config/secrets/prod/prod.decrypt.private.php
/symfony-grpc/var/
/symfony-grpc/vendor/
/symfony-grpc/composer.lock
/symfony-grpc/symfony.lock

/symfony-rest/.env.local
/symfony-rest/.env.local.php
/symfony-rest/.env.*.local
/symfony-rest/config/secrets/prod/prod.decrypt.private.php
/symfony-rest/var/
/symfony-rest/vendor/
/symfony-rest/composer.lock
/symfony-rest/symfony.lock

/.idea/
/.cache/
